<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ankita.loginapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/job"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRZLkpFd_KShZkA5nrPM7jK7_3w_n5ios"/>

        <activity
            android:name=".MainScreenActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_main"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".InformationActivity"/>
        <activity android:name=".workActivity"/>
        <activity android:name=".businessActivity"/>
        <activity android:name=".BusinessLocationActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".SettingActivity">
            <action android:name="android.intent.EXTRA_EMAIL"/>
            <action android:name="android.intent.action.SEND_MULTIPLE"/>
            <action android:name="action.intent.action.CALL"/>
            <action android:name="android.intent.action.SEARCH"/>
        </activity>
        <activity android:name=".ChangePassword">
        </activity>
        <activity android:name=".JobPostActivity">
        </activity>
        <activity android:name=".NewJobPostActivity">
        </activity>
    </application>

</manifest>